﻿html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family:Arial;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    width:1000px;
    margin:0 auto;
}

.header {
    height:174px;
    background:url("../images/header.jpg") no-repeat top;
}

.menu {
    float:right;
}

.menu li {
    float:left;
    padding-top:110px;
    height: 64px;
}

.menu li.selected, .menu li:hover {
    background-color:#e2001a
}

.menu li.selected a {
    border:none;
}

.menu li a{
    display:block;
    color:white;
    text-decoration:none;
    font-size:12px;
     border-right:solid 1px white;
     height: 25px;
    padding: 10px 10px 0;
}

.menu li:last-child a{
border:none;
}

.social {
    float:right;
    margin-right:140px;
    margin-left:20px;
    margin-top:116px;
}

.slider {
    height:364px;
    border-bottom:solid 7px #e3e6e6;
}

.our_products {
    height:400px;
    background-color:#b2b3b3;
    border-bottom:solid 7px #e3e6e6;
}

.redTitle {
    color:#e2001a;
    font-size:36px;
    font-weight:bold;
    padding:22px 0px 5px 76px;
    border-bottom:solid 2px #e3e6e6;
    width:450px;
}

.bigBlack {
    font-size:36px;
    font-weight:bold;
}

.blackTitle {
    padding:8px 0;
    color:black;
    font-weight:bold;
}

p {
    padding:8px 0;
    font-size:12px;
    line-height:150%;
}

.smallP {
    font-size:11px;
}

.border {
    border:solid 7px #e3e6e6;
}

.whiteTitle {
    font-size:25px;
    font-weight:bold;
    padding:22px 0px 5px 100px;
    border-bottom:solid 2px #fff;
    width:250px;
}

.footer {
    height:130px;
    background-color:#1e1f1d;
    border-top:solid 7px #565755;
    color:white;
}

.address {
    font-size:11px;
    padding-left:100px;
    padding-top:10px;
}

.inner {
    width:850px;
    margin:0 auto;
    margin-top:30px;
    font-family:Verdana;
    font-size:18px;
    line-height:150%;
    text-align:justify;
    overflow:auto;
}

.firstWord {
    color:#e2001a;
    font-size:30px;
}

.form {
     background:url("../images/message_bg.jpg") no-repeat top;
     width:460px;
     height:282px;
}

.textBox {
    width:400px;
    height:131px;
    border:solid 1px black;
     margin-left: 32px;
    margin-top: 64px;
    vertical-align:top;
}

.btn {
     background:url("../images/send_btn.jpg") no-repeat top;
     border:none;
     width:94px;
     height:27px;
      margin-left: 340px;
    margin-top: 10px;
    cursor:pointer;
}
.redCircle {
    background:url("../images/products_number.jpg") no-repeat top left;
    min-width:32px;
    height:35px;
    color:white;
    font-weight:bold;
    padding:8px 0 0 11px;
    clear:both;
    margin-bottom:10px;
    font-size:20px;
}
